name: Deploy bot

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2

      - name: install and lint
        run: bun install
      - name: run lint
        run: bun lint

  deploy:
    needs: [lint]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        env:
          GIT_BRANCH: ${{ github.ref_name }}
          GIT_COMMIT: ${{ github.sha }}
          GIT_COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          docker build \
          --build-arg GIT_BRANCH="$GIT_BRANCH" \
          --build-arg GIT_COMMIT="$GIT_COMMIT" \
          --build-arg GIT_COMMIT_MESSAGE="$GIT_COMMIT_MESSAGE" \
          -f docker/Dockerfile \
          -t rgd-bot:latest .

      - name: Save Docker image as tar file
        run: docker save -o rgd-bot.tar rgd-bot:latest
      - name: Transfer Docker image to remote server
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          scp -o StrictHostKeyChecking=no rgd-bot.tar ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.REMOTE_PATH }}
      - name: Load Docker image on remote server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} << 'ENDSSH'
          docker load -i ${{ secrets.REMOTE_PATH }}/rgd-bot.tar
          ENDSSH
      - name: Transfer Docker Compose file to remote server
        run: |
          cd docker && scp -o StrictHostKeyChecking=no docker-compose.yml ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:${{ secrets.REMOTE_PATH }}

      - name: Deploy Docker containers using Docker Compose on remote server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} << 'ENDSSH'
          cd ${{ secrets.REMOTE_PATH }} && docker compose up --build -d
          ENDSSH
